<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyANs1uD6cJSACe-xNKO8HcR1fF5lboEs8A",
    authDomain: "awesome-dbacf.firebaseapp.com",
    databaseURL: "https://awesome-dbacf.firebaseio.com",
    projectId: "awesome-dbacf",
    storageBucket: "awesome-dbacf.appspot.com",
    messagingSenderId: "601763630874"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>